* { 
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	color:#9d9e9f;
	font-size: 12px;
	background-color: black;
}

.container-wrap {
	width: 880px;
	/*background-color: white;*/
	height: 800px;
	margin: 0 auto;
	position: relative;
	display: block;
	margin-top: 20px;
}

.solid-blue {
	height: 5px;
	background-color: #4ac8f5;
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: block;
}

.solid-orange {
	height: 5px;
	background-color: #f38931;
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: block;
	/*margin-top: 136px;*/
}

.gradient {
	background: #003040; /* Old browsers */
	background: -moz-linear-gradient(top,  #003040 0%, #216e87 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003040), color-stop(100%,#216e87)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #003040 0%,#216e87 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #003040 0%,#216e87 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003040 0%,#216e87 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003040 0%,#216e87 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003040', endColorstr='#216e87',GradientType=0 ); /* IE6-9 */
}

.gradient-reverse {
	background: #216e87; /* Old browsers */
	background: -moz-linear-gradient(top,  #216e87 0%, #003040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#216e87), color-stop(100%,#003040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #216e87 0%,#003040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #216e87 0%,#003040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #216e87 0%,#003040 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #216e87 0%,#003040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216e87', endColorstr='#003040',GradientType=0 ); /* IE6-9 */
}

.clear {
		   clear: both;
		}

.center {
	margin: 0 auto;
}
