<% items.forEach(function(el,index)
{
//    var source="images/thumb/" + el.SKU + ".jpg";
//    var idIndex="thumbnail" + index;
//    alert("Starting left detail");
//    console.log(el, index);
//  var hatSKU = el.sku;
%>

<!--Details Blue Start-->
<div class="hat-details-container gradient shadow2">
  <div class="close">
    <img class="close_icon" src="images/signup/modal_close.png" alt=""/>
  </div>

  <!--White Containter Start-->
  <div class="hat-details-white-container">
    <!--<img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/product-page-rough.1.jpg" alt="" height="" width="" />-->
    <!--Left Container Start -->
    <div class="detail-left-hat-container">
      <!--Hat Logo (small) Start-->
      <div class="hat-details-logo">
        <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/haf-logo.png" alt="" height="100%" width="100%" />
      </div>
      <!--Hat Logo (small) End-->

      <div class="gray-rule2">
      </div>

      <!--Text Start-->
      <div class="hat-details-text">
        <h2><%= el.product %></h2>
        <p>
          <%= el.detail %>
        </p>

        <p>
          <span class="hat-details-price">
		    <%= el.price %>

          </span>

        </p>

      </div>
      <!--Text End-->

    </div>

    <!--<div class="hat-shadow-image">
      <img src="http://youtzdesign.com/clients-temp/hat-all-folks/images/brixton-hat-shadow.jpg" height="100%" width="100%" />
    </div>-->

    <!--Left Container End -->

    <!-- Hat Pic Start-->
    <div class="detail-left-model-container">
      <!--<img class="hat-details-right-image" src="http://youtzdesign.com/clients-temp/hat-all-folks/images/brixton-hat-guy-120.jpg">-->
    </div>
    <!-- Hat Pic End-->

    <div class="clear">
    </div>

  </div>
  <!--White Containter End-->

  <div id="signup">
    <div id="signup-ct">
      <div id="signup-header">
        <h2>My Account</h2>
        <a class="modal_close" href="#"></a>
      </div>

      <form action="">
        <div class="txt-fld">
          <label for="">Username</label>
          <input id="" class="good_input" name="" type="text" />
        </div>

        <div class="txt-fld">
          <label for="">Email address</label>
          <input id="" name="" type="text" />
        </div>

        <div class="txt-fld">
          <label for="">Password</label>
          <input id="" name="" type="text" />
        </div>

        <div class="btn-fld">
          <button id="button_submit" type="button">Sign Up</button>

        </div>

      </form>

    </div>

  </div>

  <!--Form Start-->
  <div class="form-container">
    <div class="center">
      <form>
        <input id="hat_sku"  value=<%= el.sku %> hidden  type="text" name="hat_sku"/>

        <div class="color-qty-size less-margin">
          <span class="right-margin">Quantity:</span>
          <input id="hat_quantity" type="number" name="quantity" required>

        </div>

        <div class="color-qty-size">
          <span class="right-margin">Size:</span>
          <select id="hat_size" name="size" required>
            <option value="" selected="selected"></option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="Concerningly Big">Concerningly Big</option>

          </select>

        </div>

        <div class="color-qty-size">
          <span class="right-margin">Color:</span>
          <select id="hat_color" name="color-choice" required>
            <option value="" selected="selected"></option>
            <option value="White">White</option>
            <option value="Black">Black</option>
            <option value="Brown">Brown</option>
            <option value="Gray">Gray</option>

          </select>

        </div>

        <div class="color-qty-size">
          <input class="add-cart" type="submit" value=" Add to Cart ">

        </div>

      </form>

    </div>

  </div>
  <!--Form End-->

</div>
<!--Details Blue End-->


<% });  %>