<% items.forEach(function(el,index)
{




%>

<!--Details Gray Start-->
<div class="hat-details-container gradient-gray shadow2">

    <!--White Containter Start-->
    <div class="hat-details-white-container">

        <!--<img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/product-page-rough.1.jpg" alt="" height="" width="" />-->

        <!--Left Container Start -->
        <div class="detail-right-hat-container">

            <!--Hat Logo (small) Start-->
            <div class="hat-details-logo">
                <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/haf-logo.png" alt="" height="100%" width="100%" />
            </div>
            <!--Hat Logo (small) End-->

            <div class="gray-rule2">
            </div>

            <!--Text Start-->
            <div class="hat-details-text">
                <h2><%= el.product %></h2>
                <p>
                    <%= el.detail %>
                </p>
                <p><span class="hat-details-price">
					<%= el.price %></span></p>
            </div>
            <!--Text End-->

        </div>

        <!--<div class="hat-shadow-image">
            <img src="http://youtzdesign.com/clients-temp/hat-all-folks/images/brixton-hat-shadow.jpg" height="100%" width="100%" />
        </div>-->

        <!--Left Container End -->

        <!-- Hat Pic Start-->
        <div class="detail-right-model-container">
            <!--<img class="hat-details-right-image" src="http://youtzdesign.com/clients-temp/hat-all-folks/images/brixton-hat-guy-120.jpg">-->
        </div>
        <!-- Hat Pic End-->

        <div class="clear">
        </div>

    </div>
    <!--White Containter End-->
    <!--Form Start-->
    <div class="form-container">


        <div class="center">

            <form>

                <div class="color-qty-size less-margin">
                    <span class="right-margin">Quantity:</span><input type="number" name="quantity">
                </div>

                <div class="color-qty-size">
                    <span class="right-margin">Size:</span>
                    <select name="size" onclick="handleInput(this);" onkeyup="handleInput(this);" tabindex="3">
                        <option value="" selected="selected"></option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="Concerningly Big">Concerningly Big</option>
                    </select>
                </div>

                <div class="color-qty-size">
                    <span class="right-margin">Color:</span>
                    <select name="color-choice" onclick="handleInput(this);" onkeyup="handleInput(this);" tabindex="3">
                        <option value="" selected="selected"></option>
                        <option value="White">White</option>
                        <option value="Black">Black</option>
                        <option value="Brown">Brown</option>
                        <option value="Gray">Gray</option>
                    </select>
                </div>
                <div class="color-qty-size">
                    <input type="submit" value=" Add to Cart ">
                </div>

            </form>
        </div>




    </div>
    <!--Form End-->

</div>
<!--Details Gray End-->

<% });  %>