<!--Thumb Start-->
<div class="thumbnail-2">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/brix-hat-thumb-medblu.jpg" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2>BRIXTON FELT HAT</h2>
            <div class="gray-rule4">
            </div>
            <p>
                <i><b>New!...</b></i> We are now stocking this classic gentelman's metro-chic hat for a limited time.
            </p>
            <div class="thumb-text-float-right">> Click Here for <a href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

</div>
<!--Thumb End-->


<div class="white-block">
</div>

<!--Thumb Start-->
<div class="thumbnail-2">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/brix-hat-thumb-medblu.jpg" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2>BRIXTON FELT HAT</h2>
            <div class="gray-rule4">
            </div>
            <p>
                <i><b>New!...</b></i> We're are now stocking this classic gentelman's metro-chic hat for a limited time.
            </p>
            <div class="thumb-text-float-right">> Click Here for <a href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

</div><!--2Thumb Container End-->

<div class="white-block">
</div>

<!--Thumb Container Start-->
<div class="thumbnail-2">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/brix-hat-thumb-medblu.jpg" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2>BRIXTON FELT HAT</h2>
            <div class="gray-rule4">
            </div>
            <p>
                <i><b>New!...</b></i> We're are now stocking this classic gentelman's metro-chic hat for a limited time.
            </p>
            <div class="thumb-text-float-right">> Click Here for <a href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

</div>
<!--Thumb Container End-->


<div class="white-block">
</div>


<!--Thumb Container Start-->
<div class="thumbnail-2">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/brix-hat-thumb-medblu.jpg" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2>BRIXTON FELT HAT</h2>
            <div class="gray-rule4">
            </div>
            <p>
                <i><b>New!...</b></i> We're are now stocking this classic gentelman's metro-chic hat for a limited time.
            </p>
            <div class="thumb-text-float-right">> Click Here for <a href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

</div>
<!--Thumb Container End-->

<div class="white-block">
</div>

<!--Thumb Container Start-->
<div class="thumbnail-2">
    <!--<div class="hat-name-thumb">
        BRIXTON FELT HAT
    </div>
    <div class="gray-rule3">
    </div>-->

    <div class="thumb-inr3"><!--3 thumb-container Start-->

        <div class="thumb-pic"><!--pic-->
            <img src="http://www.youtzdesign.com/clients-temp/hat-all-folks/images/brix-hat-thumb-medblu.jpg" alt="" height="100%" width="100%" />
        </div>

        <div class="thumb-text"><!--text-->
            <h2>BRIXTON FELT HAT</h2>
            <div class="gray-rule4">
            </div>
            <p>
                <i><b>New!...</b></i> We're are now stocking this classic gentelman's metro-chic hat for a limited time.
            </p>
            <div class="thumb-text-float-right">> Click Here for <a href="#Brixton-Detail">More Information</a>
            </div>
        </div>

        <div class="clear">
        </div>

    </div><!--3 thumb-container thumb-inr3 End-->

    <div class="shadow-overlay"><!--Shadow Box Overlay-->
    </div>

</div>
<!--Thumb Container End-->

<div class="white-block">
</div>
